* {
    margin: 0;
    padding: 0;
}

/*Gestion de la barre de navigation*/
#nav {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

div#nav ul {
    margin: initial;
}

/*Gestion des elemets de la barre de navigation*/
ul {
    background-color: #0C0924;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

ul li a#logo {
    color: #383287;
}

ul li {
    list-style: none;
}

ul li a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: rgb(30, 2, 40);
}

/* Gestionde la banniere */
div.image img {
    height: auto;
    width: 100%;

}

h2 {
    text-align: center;
}

/*Gestion de la division qui contient les jeux*/
.jeu {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    row-gap: 20px;
    column-gap: 50px;
}

/* Gestion du menu de jeu*/
.cases {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    margin-left: 29%;

}

.cases .case {
    padding: 30px;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

#jeu .cases .case a img {
    width: 160px;
    height: 140px;

}

#jeu .cases .case h4 {
    margin: 20px;
}

/*Gestion de la page notification.html*/
.message {
    width: 100%;
    height: 375px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-top: 20%;
}

/*Gestion du message de page notification.html*/
.message p {
    width: auto;
    height: auto;
    font-size: xx-large;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #383287;
}

/* Gestion du puzzle de la page puzzle.html*/
.puzzle {
    margin-left: auto;
    margin-right: auto;
    position: block;
    margin-top: 7%;
    margin-left: 29%;
    margin-right: 10%;
    box-shadow: 0 1px 4px black;
    padding: 5px;
    background-color: #0C0924;
    border-radius: 5px;
    width: 586px;
}

.puzzle .case {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 195px 195px 195px;
    grid-template-rows: 180px 180px 180px;
    border: 1px solid black;

}

.puzzle .case button {
    background-color: #383287;
    color: white;
    font-size: xx-large;
    border: 2px solid;
    cursor: pointer;
}

.puzzle .case button#vide {
    background-color: #0C0924;
    border: 0;
}


/* Gestion des pop-up de la page puzzle.html*/
#message {
    position: fixed;
    top: 40%;
    right: 10px;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#message #message_1 {
    background-color: #0C0924;
    text-align: center;
    font-size: x-large;
    border: 1px solid;
    border-radius: 17px;
    color: white;
}

#message #message_2 {
    background-color: #0C0924;
    text-align: center;
    font-size: x-large;
    border: 1px solid;
    border-radius: 17px;
    color: white;
}

#message #message_3 {
    background-color: #0C0924;
    text-align: center;
    font-size: x-large;
    border: 1px solid;
    border-radius: 17px;
    color: white;
}

#message #message_4 {
    background-color: #0C0924;
    text-align: center;
    font-size: x-large;
    border: 1px solid;
    border-radius: 17px;
    color: white;
}

#message #message_5 {
    background-color: #0C0924;
    text-align: center;
    font-size: x-large;
    border: 1px solid;
    border-radius: 17px;
    color: white;
}

#message #message_6 {
    background-color: #0C0924;
    text-align: center;
    font-size: x-large;
    border: 1px solid;
    border-radius: 17px;
    color: white;
}

#message #message_7 {
    background-color: #0C0924;
    text-align: center;
    font-size: x-large;
    border: 1px solid;
    border-radius: 17px;
    color: white;
}

#message #message_8 {
    background-color: #0C0924;
    text-align: center;
    font-size: x-large;
    border: 1px solid;
    border-radius: 17px;
    color: white;
}

/* Gestion de la division a propos*/
#pied {
    margin-top: auto;
    text-align: center;
    display: flex;
    position: initial;
    bottom: 1px;
    margin-top: 100px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#pied ul li p {
    color: white;
    text-align: right;
}

/*Gestion du footer(Bas de page)*/
footer {
    background-color: #0C0924;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;

}
