img#ornitho {
    position: initial;
    left: 0;
    top: 0;
    height: 179px;
    width: 197px;
}
body{
    background-color: black;
}
p{
    color: white;
}
.menu {
    padding: 10px 100px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px brown;
    background-color: brown;
}

#menu ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    overflow: hidden;
    background-color: brown;
}

#menu ul li {
    float: left;
    background-color: brown;
}

#menu ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 222px;
    text-decoration: none;
    background-color: brown;

}

#menu ul li a:hover {
    background-color: lightcoral;
}

.boutons {
    margin: 80px auto;
    text-align: center;
    width: 100%;
    position: relative;
}

button {
    padding: 15px 100px;
    margin: 10px 4px;
    color: black;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
    background-color: lightcoral;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
    transition: all 0.4s;
}

button:hover {
    color: brown;
}

button:hover::before {
    opacity: 1;
    background-color: brown;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity 0.4s;
    transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity;
}