h1{
    text-align: center;
    color: black;
}


button{
    margin-left: 690px;
    margin-top: 0px;
}
body{
    background-color: brown;
}
img{
    margin-left: 588px;
    margin-top: -55px;
    width:332px;
}