.jeu{
    padding: 150px;
    margin-left: 420px;
    margin-top: -22px;
}
.jeu table{
    align-items: center;
    color: red;
}
.jeu table{
    border: 2;
    width: 250px;
    height: 250px;
}
.jeu table tr{
    border: 2px;
    width: 100px;
    color: black;
}
.jeu table tr td{
    border: 20;
    background-color: lightgray;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
}
.jeu table tr td.vide{
    background-color: white;
    border: 0;
    width: 60px;
    height: 55px;
}
.jeu table tr td.vide img{
    width: 60px;
    height: 55px;
}
.jeu table tr td:hover{
    background-color: lightgray;
}
