*{
    background-color: whitesmoke;
}
h1{
    color: white;
    text-decoration: underline whitesmoke;
    text-align: center;
    font-weight: 700px;
    position: relative;
    animation-name: h1;
    animation-duration: 4s;
    animation-direction: reverse;
    animation-iteration-count: 3;
    background-color: plum;
}
@keyframes h1 {
    0%   {background-color:plum; left:0px; top:0px;}
    50%  {background-color:purple; left:100px; top:0px;}
    100% {background-color:plum; left:0px; top:0px;}
  }
.nav {
    padding: 10px 100px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px black;
    background-color: purple;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.nav ul li {
    float: left;
    background-color: purple;
  }
  
.nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: purple;

  }
  
.nav ul li a:hover {
    background-color: plum;
  }